%h1
  Espectros Football

%p
  Olá,
  @atleta.nome

%p
  Gostariamos de informa-lo que o seu nome consta na lista de atletas inadimplentes. Favor verificar com a comissão administrativa a sua regularidade.
%p
  Caso a situação já tenha sido resolvida, desconsidere este e-mail.

%p
  Obrigado.